body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f4ef;
    color: #4a3f35;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

h3 {
    color: #4a3f35;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #a67b5b;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

button:hover {
    background-color: #805c41;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: none;
}

th {
    background-color: #a67b5b;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2e8dc;
}

tr:hover {
    background-color: #e4d5c5;
    transition: background-color 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
}
